{
  "trailingComma": "es5",
  "semi": true,
  "singleQuote": false,
  "plugins": [
    "prettier-plugin-tailwindcss",
    "@trivago/prettier-plugin-sort-imports"
  ],
  "importOrder": [
    "^react$",
    "^next$",
    "<BUILTIN_MODULES>",
    "<THIRD_PARTY_MODULES>",
    "^@/[^/]+/(.*)$",
    "^[./]"
  ]
}
